<aside class="cmpt-confirm" v-bind:class="{ 'is-displayed': displayed }">
	<div class="cmpt-confirm--outer">
		<div class="cmpt-confirm--inner">
			<h1 class="cmpt-confirm--title" v-html="current.title"></h1>
			<div class="cmpt-confirm--message" v-html="current.message"></div>
			<div class="cmpt-confirm--actions">
				<button v-on:click="update" class="cmpt-confirm--ok" v-html="current.ok"></button>
				<button v-on:click="close" class="cmpt-confirm--nok" v-html="current.nok"></button>
			</div>
		</div>
	</div>
</aside>