<aside key="edit" class="edit" v-bind:class="{ 'is-opened': state, 'is-global': options && options.global }"><button v-if="options.dirty" v-on:click="save" class="edit--save" v-html="common.edit.save"></button><button v-on:mousedown="isMoved" v-on:mouseup="toggleEdit" class="edit--start">
		<span v-show="!state" v-html="current"></span>
		<span v-show="state" v-html="common.edit.close"></span>
	</button>
	<anim-height>
		<div key="box" v-show="state" class="edit--editbox">
			<div class="edit--tabs">
				<span class="edit--editbox--set-body" v-bind:class="{ 'is-current': tab === 'body' }" v-on:click="tab = 'body'" v-html="common.edit.data"></span>
				<span class="edit--editbox--set-meta" v-bind:class="{ 'is-current': tab === 'meta' }" v-on:click="tab = 'meta'" v-html="common.edit.metadata"></span>
			</div>
			<div v-show="tab === 'body'" class="edit--editbox--body"></div>
			<div v-show="tab === 'meta'" class="edit--editbox--meta"></div>
		</div>
	</anim-height>
	<cmpt-confirm ref="confirm" v-on:close="confirmUpdateJSON = false" v-bind:displayed="confirmUpdateJSON" v-bind:current="common.edit.updateJSON"></cmpt-confirm>
	<cmpt-alert ref="alert" v-on:close="alertLostJSON = false" v-bind:displayed="alertLostJSON" v-bind:current="common.edit.lostJSON"></cmpt-alert>
</aside>