<nav class="navigation" v-bind:class="{ 'is-opened': global.navigation }">
	<h1 class="navigation--title" v-on:click="toggleMenu" >
		<inline v-model="common.navigation.title" :global="global" />
	</h1>
	<div class="navigation--menu">
		<nav class="navigation--menu--main">
			<ul>
				<li v-for="(link, index) in common.navigation.main.links">
					<attrs :global="global">
						<router-link v-bind:to="link.href" v-html="link.content"></router-link>
						<template slot="attrs">
							<attr :label="'Content: '" v-model="common.navigation.main.links[index].content" :global="global" />
							<attr :label="'Link: '" v-model="common.navigation.main.links[index].href" :global="global" />
						</template>
					</attrs>
				</li>
			</ul>
		</nav>
		<nav class="navigation--members-area">
			<ul v-if="global.me.id">
				<li v-if="link.status === 'auth' && checkRoles(link)" v-for="(link, index) in common.navigation.privates.links">
					<attrs :global="global">
						<div v-if="link.href === '#logout'">
							<button v-on:click="doUnauthentication" v-html="link.content"></button>
						</div>
						<div v-else>
							<router-link v-bind:to="link.href" v-html="link.content"></router-link>
						</div>
						<template slot="attrs">
							<attr :label="'Content: '" v-model="common.navigation.privates.links[index].content" :global="global" />
							<attr :label="'Link: '" v-model="common.navigation.privates.links[index].href" :global="global" />
						</template>
					</attrs>
				</li>
			</ul>
			<ul v-else>
				<li v-if="link.status !== 'auth'" v-for="(link, index) in common.navigation.privates.links">
					<attrs :global="global">
						<router-link v-bind:to="link.href" v-html="link.content"></router-link>
						<template slot="attrs">
							<attr :label="'Content: '" v-model="common.navigation.privates.links[index].content" :global="global" />
							<attr :label="'Link: '" v-model="common.navigation.privates.links[index].href" :global="global" />
						</template>
					</attrs>
				</li>
			</ul>
		</nav>
	</div>
</nav>