<aside class="parallax">
	<ul class="parallax--scene">
		<template v-for="(n, index) in parallax.quantity">
			<li v-if="index < 3" class="parallax--layer is-tiny" :data-depth="0.25">
				<img :src="getRandomParallaxImage()">
			</li>
			<li v-if="index >= 3 && index < 6" class="parallax--layer is-small" :data-depth="0.5">
				<img :src="getRandomParallaxImage()">
			</li>
			<li v-if="index >= 6 && index < 9" class="parallax--layer is-medium" :data-depth="0.5">
				<img :src="getRandomParallaxImage()">
			</li>
			<li v-if="index >= 9 && index < 12" class="parallax--layer is-big" :data-depth="0.75">
				<img :src="getRandomParallaxImage()">
			</li>
		</template>
	</ul>
</aside>