<div class="layout" v-bind:class="{ 'as-loaded-page': global.isClient && !global.isWaiting }">
	<div class="main-content">
		<height-transition>
			<router-view ref="router" key="router" v-bind:common="common" v-bind:global="global" v-on:specific="value => { specific = value }"></router-view>
		</height-transition>
	</div>
	<div class="upper-content">
		<div class="upper-content--inner">
			<main-header ref="main-header" v-bind:common="common" v-bind:global="global" v-bind:specific="specific"></main-header>
			<navigation ref="navigation" v-bind:common="common" v-bind:global="global" v-bind:meta="meta"></navigation>
		</div>
	</div>
	<div class="lower-content">
		<main-footer ref="main-footer" v-bind:common="common" v-bind:global="global" v-bind:specific="specific"></main-footer>
	</div>
	<div class="parallax-content">
		<ul id="parallax-scene">
			<template v-for="(n, index) in parallax.quantity">
				<li v-if="index < 3" class="parallax-layer is-tiny" :data-depth="0.25">
					<img :src="getRandomParallaxImage()">
				</li>
				<li v-if="index >= 3 && index < 6" class="parallax-layer is-small" :data-depth="0.5">
					<img :src="getRandomParallaxImage()">
				</li>
				<li v-if="index >= 6 && index < 9" class="parallax-layer is-medium" :data-depth="0.5">
					<img :src="getRandomParallaxImage()">
				</li>
				<li v-if="index >= 9 && index < 12" class="parallax-layer is-big" :data-depth="0.75">
					<img :src="getRandomParallaxImage()">
				</li>
			</template>
		</ul>
	</div>
	<div class="loading" v-html="common.loading"></div>
	<edit v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="'common'"
		v-bind:meta="meta"
		v-bind:body="common"
		v-bind:current="common.edit.global"
		v-bind:options="options"></edit>
</div>