<div class="error">
	<header class="error--logo">
		<h1><img src="media/images/logo.svg" alt="Orchard ID"></h1>
	</header>
	<article class="error--content">
		<h1>
			<inline v-model="specific.title" :global="global" />
		</h1>
		<block v-model="specific.content" :global="global" />
	</article>
	<edit v-if="global.isClient && global.me.id"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$options.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></edit>
</div>