<div class="google-drive" v-bind:data-search="JSON.stringify(specific.search.results)">
	<article class="google-drive--article">
		<h1>
			<inline v-model="specific.title" :global="global" />
		</h1>
		<div class="google-drive--image">
			<inline v-model="specific.image" :global="global" />
		</div>
		<div class="google-drive--content">
			<block v-model="specific.content" :global="global" />
		</div>
		<div v-if="global.me.role === 'admin'" class="google-drive--tips">
			<block v-model="specific.tips" :global="global" />
		</div>
	</article>
	<section class="google-drive--information">
		<h2 class="google-drive--information--title">
			<inline v-model="specific.information.title" :global="global" />
		</h2>
		<div class="google-drive--information--content">
			<block v-model="specific.information.content" :global="global" />
		</div>
	</section>
	<section class="google-drive--documentation">
		<h2 class="google-drive--documentation--title">
			<inline v-model="specific.documentation.title" :global="global" />
		</h2>
		<div class="google-drive--search-bar">
			<attrs :global="global">
				<input type="text" v-model="searchQuery" v-bind:placeholder="specific.documentation.placeholder">
				<template slot="attrs">
					<attr :label="'Placeholder: '" v-model="specific.documentation.placeholder" :global="global" />
				</template>
			</attrs>
			<button v-on:click="getSearchResult">
				<inline v-model="specific.documentation.button" :global="global" />
			</button>
		</div>
		<div class="google-drive--search-result">
			<ul v-if="specific.search.results.length > 0">
				<li v-for="(item, index) in specific.search.results">
					<div class="google-drive--documentation--result">
						<div class="google-drive--documentation--result--title">
							<inline v-model="specific.search.results[index].title" :global="global" />
						</div>
						<div class="google-drive--documentation--result--image">
							<inline v-model="specific.search.results[index].image" :global="global" />
						</div>
					</div>
				</li>
			</ul>
			<div v-else>
				<inline v-model="specific.documentation.empty" :global="global" />
			</div>
		</div>
	</section>
	<edit v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$options.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></edit>
</div>