<div class="login">
	<header class="login--logo">
		<h1><img src="media/images/logo.svg" alt="Orchard ID"></h1>
	</header>
	<div class="login--content">
		<h1>
			<inline v-model="specific.title" :global="global" />
		</h1>
		<height-transition>
			<div v-if="!global.me.id" key="logout">
				<block v-model="specific.content.unauthenticated" :global="global" />
				<form class="login--form" action="" method="post">
					<div class="field email" v-bind:class="{ empty: email === '' || email === undefined, invalid: !isEmail(email) && email !== undefined }">
						<label for="login-form--email" v-html="specific.email.label.content"></label>
						<input type="text" id="login-form--email" class="login-form--email" name="email" v-bind:placeholder="specific.email.label.placeholder" v-model="email">
						<div class="errors" v-if="email === '' && email !== undefined" v-html="specific.email.error.empty"></div>
						<div class="errors" v-if="!isEmail(email) && email != undefined && email !== ''" v-html="specific.email.error.badFormat"></div>
					</div>

					<div class="field password" v-bind:class="{ empty: password === '' || password === undefined, invalid: !password && password !== undefined }">
						<label for="login-form--password" v-html="specific.password.label.content"></label>
						<input type="password" id="login-form--password" class="login-form--password" name="password" v-bind:placeholder="specific.password.label.placeholder" v-model="password">
						<div class="errors" v-if="password === '' && password !== undefined" v-html="specific.password.error.empty"></div>
					</div>

					<div class="submit">
						<label><button v-on:click.prevent="doAuthentication" v-bind:class="{ invalid: !isAuthenticable() }" class="login-form--button" v-html="specific.button.label.content"></button></label>
						<span v-if="error" class="errors">
							<span class="empty" v-html="specific.button.error.authFailure"></span>
						</span>
					</div>
				</form>
			</div>
			<div v-else key="login">
				<block v-model="specific.content.authenticated" :global="global" />
				<form class="login--form" action="" method="post">
					<attrs :global="global">
						<button class="login-form--cancel" v-on:click.prevent="doUnauthentication" v-html="specific.cancel.label.content"></button>
						<template slot="attrs">
							<attr :label="'Logged: '" v-model="specific.button.label.content" :global="global" />
							<attr :label="'Not logged: '" v-model="specific.cancel.label.content" :global="global" />
						</template>
					</attrs>
				</form>
			</div>
		</height-transition>
		<block v-model="specific.link" :global="global" />
	</div>
	<edit v-if="global.isClient && global.me.id"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$options.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></edit>
</div>