<div class="page-home">
	<h1 class="page-home--title">
		<cmpt-inline v-model="specific.title" :global="global" />
	</h1>
	<section class="page-home--about">
		<div class="page-home--about--inner">
			<div class="page-home--about--image">
				<cmpt-inline v-model="specific.about.image" :global="global" :empty="'Image manquante'" />
			</div>
			<div class="page-home--about--main">
				<h2 class="page-home--about--title">
					<cmpt-inline v-model="specific.about.title" :global="global" />
				</h2>
				<div class="page-home--about--content">
					<cmpt-block v-model="specific.about.content" :global="global" />
				</div>
				<div class="page-home--about--cta">
					<cmpt-inline v-model="specific.about.cta" :global="global" />
				</div>
			</div>
		</div>
		<div class="next"><img src="./media/images/left-arrow.svg" width="10" alt="Suivant"></div>
	</section>
	<!-- <hr class="separator"> -->
	<section class="page-home--approach">
		<div class="page-home--approach--image">
			<cmpt-inline v-model="specific.approach.image" :global="global" :empty="'Image manquante'" />
		</div>
		<div class="page-home--approach--main">
			<h2 class="page-home--approach--title">
				<cmpt-inline v-model="specific.approach.title" :global="global" />
			</h2>
			<div class="page-home--approach--content">
				<cmpt-block v-model="specific.approach.content" :global="global" />
			</div>
			<div class="page-home--approach--cta">
				<cmpt-inline v-model="specific.approach.cta" :global="global" />
			</div>
		</div>
	</section>
	<section class="page-home--partner">
		<h2 class="page-home--partner--title">
			<cmpt-inline v-model="common.partner.title" :global="global" />
		</h2>
		<div class="page-home--partner--slider">
			<div class="page-home--partner--slider--content">
				<ul>
					<li v-for="(parner, index) in common.partner.partners" v-bind:class="{ 'is-selected': index === slider }">
						<div class="page-home--partner--image">
							<cmpt-inline v-model="common.partner.partners[index].image" :global="global" :empty="'Image manquante'" />
						</div>
						<div class="page-home--partner--content">
							<cmpt-block v-model="common.partner.partners[index].content" :global="global" />
						</div>
					</li>
				</ul>
			</div>
			<div class="page-home--partner--slider--navigation">
				<div v-on:click="goToPreviousSlide" class="left">
					<img src="./media/images/left-arrow.svg" width="10" alt="Précedent">
				</div>
				<div v-on:click="goToNextSlide" class="right">
					<img src="./media/images/right-arrow.svg" width="10" alt="Suivant">
				</div>
			</div>
			<div class="page-home--partner--slider--pagination">
				<ul>
					<li v-on:click="goToSlide(index)" v-for="(partner, index) in common.partner.partners" v-bind:class="{ 'is-selected': index === slider }"></li>
				</ul>
			</div>
		</div>
	</section>
	<cmpt-edit v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$options.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></cmpt-edit>
</div>