<div class="page-about">
	<article class="page-about--article">
		<div class="page-about--main">
			<h1 class="page-about--title">
				<edit-inline
					v-model="specific.title"
					:global="global" />
			</h1>
			<div class="page-about--content">
				<edit-block
					v-model="specific.content"
					:global="global" />
			</div>
		</div>
	</article>
	<edit-global
		v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		:global="global"
		:common="common"
		:file="$route.name"
		:meta="meta"
		:body="specific"
		:current="common.edit.local"
		:options="options" />
</div>