<div class="page-contact">
	<section class="page-contact--article">
		<div class="page-contact--image">
			<edit-inline
				v-model="specific.image"
				:global="global"
				:empty="'Image manquante'" />
		</div>
		<div class="page-contact--main">
			<h1 class="page-contact--title">
				<edit-inline
					v-model="specific.title"
					:global="global" />
			</h1>
			<div class="page-contact--content">
				<edit-block
					v-model="specific.content"
					:global="global" />
			</div>
		</div>
	</section>
	<div class="page-contact--message">
		<anim-height>
			<div
				v-if="!isSent"
				key="step-1">
				<edit-block
					v-model="specific.explaination.step1"
					:global="global" />
				<form class="page-contact--form" action="" method="post">
					<div class="field email"
						:class="{ empty: email === '' || email === undefined, invalid: !isEmail(email) && email !== undefined }">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="-374 307 19.546 27" style="width: 24px">
							<g id="Groupe_117" data-name="Groupe 117" transform="translate(-374.4 306.5)">
								<circle id="Ellipse_13" data-name="Ellipse 13" class="cls-1" cx="6.25" cy="6.25" r="6.25" transform="translate(3.946 1.5)" />
								<path id="Tracé_20" data-name="Tracé 20" class="cls-1" d="M10.2,40.973h8.75v-3.75a8.681,8.681,0,0,0-3.75-7.176h0a8.7,8.7,0,0,0-10.046,0h0A8.681,8.681,0,0,0,1.4,37.223v3.75Z" transform="translate(0 -14.473)" />
							</g>
						</svg>
						<label for="contact-form--email"
							v-html="specific.email.label.content"></label>
						<input type="text" name="email" id="contact-form--email" class="contact-form--email"
							v-model="email"
							:placeholder="specific.email.label.placeholder" />
						<div class="errors"
							v-if="email === '' && email !== undefined"
							v-html="specific.email.error.empty"></div>
						<div class="errors"
							v-if="!isEmail(email) && email != undefined && email !== ''"
							v-html="specific.email.error.badFormat"></div>
					</div>
					<div class="field message"
						:class="{ empty: message === '' || message === undefined, invalid: !message && message !== undefined }">
						<img src="./media/images/message.svg" alt="Email" style="width: 24px">
						<label for="contact-form--message" class="label-textarea"
							v-html="specific.message.label.content"></label>
						<textarea type="text" name="message" id="contact-form--message" class="contact-form--message"
							:placeholder="specific.message.label.placeholder"
							v-model="message"></textarea>
						<div class="errors"
							v-if="message === '' && message !== undefined"
							v-html="specific.message.error.empty"></div>
					</div>
					<div class="submit">
						<edit-wrapper-attr :global="global">
							<label>
								<button class="contact-form--button"
								:class="{ invalid: !isSendable() }"
								v-html="specific.button.label.content"></button>
							</label>
							<template slot="attrs">
								<edit-attr
									:label="'Email -: '"
									v-model="specific.email.label.placeholder"
									:global="global" />
								<edit-attr
									:label="'Email +: '"
									v-model="specific.email.label.content"
									:global="global" />
								<edit-attr
									:label="'Message -: '"
									v-model="specific.message.label.placeholder"
									:global="global" />
								<edit-attr
									:label="'Message +: '"
									v-model="specific.message.label.content"
									:global="global" />
								<edit-attr
									:label="'Send: '"
									v-model="specific.button.label.content"
									:global="global" />
							</template>
						</edit-wrapper-attr>
						<span class="errors"
							v-if="error">
							<span class="empty"
								v-html="specific.button.error.sendFailure"></span>
						</span>
					</div>
				</form>
			</div>
			<div
				v-else
				key="step-2">
				<edit-block
					v-model="specific.explaination.step2"
					:global="global" />
				<edit-block
					v-model="specific.or"
					:global="global" />
				<button @click="newMessage">
					<edit-inline
						v-model="specific.link.content"
						:global="global" />
				</button>
			</div>
		</anim-height>
	</div>
	<section class="page-contact--partner">
		<h2 class="page-contact--partner--title">
			<edit-inline
				v-model="common.partner.title"
				:global="global" />
		</h2>
		<div class="page-contact--partner--slider">
			<div class="page-contact--partner--slider--content">
				<ul>
					<li
						v-for="(partner, index) in common.partner.partners"
						:class="{ 'is-selected': index === slider }">
						<div class="page-contact--partner--image">
							<edit-inline
								v-model="common.partner.partners[index].image"
								:global="global"
								:empty="'Image manquante'" />
						</div>
						<div class="page-contact--partner--content">
							<edit-block
								v-model="common.partner.partners[index].content"
								:global="global" />
						</div>
					</li>
				</ul>
			</div>
			<div class="page-contact--partner--slider--navigation">
				<div class="left"
					@click="goToPreviousSlide">
					<img src="./media/images/left-arrow.svg" width="10" alt="Précedent">
				</div>
				<div class="right"
					@click="goToNextSlide">
					<img src="./media/images/right-arrow.svg" width="10" alt="Suivant">
				</div>
			</div>
			<div class="page-contact--partner--slider--pagination">
				<ul>
					<li
						v-for="(partner, index) in common.partner.partners"
						:class="{ 'is-selected': index === slider }"></li>
				</ul>
			</div>
		</div>
	</section>
	<edit-global
		v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		:global="global"
		:common="common"
		:file="$options.name.replace(/page-/, '')"
		:meta="meta"
		:body="specific"
		:current="common.edit.local"
		:options="options" />
</div>