<div class="page-google-drive" v-bind:data-search="JSON.stringify(global.search.results)">
	<article class="page-google-drive--article">
		<div class="page-google-drive--image">
			<cmpt-inline v-model="specific.image" :global="global" :empty="'Image manquante'" />
		</div>
		<div class="page-google-drive--main">
			<h1 class="page-google-drive--title">
				<cmpt-inline v-model="specific.title" :global="global" />
			</h1>
			<div class="page-google-drive--content">
				<cmpt-block v-model="specific.content" :global="global" />
			</div>
			<div v-if="global.me.role === 'admin'" class="page-google-drive--tips">
				<cmpt-block v-model="specific.tips" :global="global" />
			</div>
		</div>
	</article>
	<section class="page-google-drive--information">
		<h2 class="page-google-drive--information--title">
			<cmpt-inline v-model="specific.information.title" :global="global" />
		</h2>
		<div class="page-google-drive--information--content">
			<cmpt-block v-model="specific.information.content" :global="global" />
		</div>
	</section>
	<section class="page-google-drive--documentation">
		<h2 class="page-google-drive--documentation--title">
			<cmpt-inline v-model="specific.documentation.title" :global="global" />
		</h2>
		<div class="page-google-drive--search-bar">
			<div class="field search" v-bind:class="{ empty: searchQuery === '' }">
				<button v-on:click="getSearchResult">
					<cmpt-inline v-model="specific.documentation.button" :global="global" />
				</button>
				<cmpt-attrs :global="global">
					<label for="google-drive-form--search" v-html="specific.documentation.search.label.content"></label>
					<template slot="attrs">
						<cmpt-attr :label="'Placeholder -: '" v-model="specific.documentation.search.label.placeholder" :global="global" />
						<cmpt-attr :label="'Placeholder +: '" v-model="specific.documentation.search.label.content" :global="global" />
					</template>
				</cmpt-attrs>
				<input v-on:keyup.enter="getSearchResult" type="text" id="google-drive-form--search" class="google-drive-form--search" name="search" v-bind:placeholder="specific.documentation.search.label.placeholder" v-model="searchQuery">
			</div>
		</div>
		<div class="page-google-drive--search-result">
			<ul v-if="global.search.results.length > 0">
				<li v-for="(item, index) in global.search.results">
					<div class="page-google-drive--documentation--result">
						<div class="page-google-drive--documentation--result--image" v-html="global.search.results[index].image" :empty="'Image manquante'"></div>
						<div class="page-google-drive--documentation--result--title" v-html="global.search.results[index].title"></div>
						<div class="page-google-drive--documentation--result--detail" v-html="global.search.results[index].detail"></div>
					</div>
				</li>
			</ul>
			<div v-else>
				<cmpt-inline v-model="specific.documentation.empty" :global="global" />
			</div>
		</div>
	</section>
	<cmpt-edit v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$route.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></cmpt-edit>
</div>