<div class="projects">
	<article class="projects--article">
		<div class="projects--image">
			<inline v-model="specific.image" :global="global" />
		</div>
		<div class="projects--main">
			<h1 class="projects--title">
				<inline v-model="specific.title" :global="global" />
			</h1>
			<div class="projects--content">
				<block v-model="specific.content" :global="global" />
			</div>
			<div class="projects--cta">
				<ul>
					<li v-for="(item, index) in specific.cta">
						<div class="projects--cta--link">
							<inline v-model="specific.cta[index].content" :global="global" />
						</div>
					</li>
				</ul>
			</div>
			<div class="projects--quote">
				<block v-model="specific.quote" :global="global" />
			</div>
		</div>
		<aside id="definition" class="projects--about">
			<div class="projects--about--main">
				<h2 class="projects--about--title">
					<inline v-model="specific.about.title" :global="global" />
				</h2>
				<div class="projects--about--content">
					<block v-model="specific.about.content" :global="global" />
				</div>
			</div>
			<div class="projects--about--image">
				<inline v-model="specific.about.image" :global="global" />
			</div>
		</aside>
	</article>
	<section id="principes" class="projects--overview">
		<h2 class="projects--overview--title">
			<inline v-model="specific.overview.title" :global="global" />
		</h2>
		<div class="projects--overview--slider">
			<div class="projects--overview--slider--content">
				<ul>
					<li v-for="(item, index) in specific.overview.overviews" v-bind:class="{ 'is-selected': index === slider }">
						<div class="projects--overview--image">
							<inline v-model="specific.overview.overviews[index].image" :global="global" />
						</div>
						<div class="projects--overview--content">
							<block v-model="specific.overview.overviews[index].content" :global="global" />
						</div>
					</li>
				</ul>
			</div>
			<div class="projects--overview--slider--navigation">
				<div v-on:click="goToPreviousSlide" class="left">
					<img src="./media/images/left-arrow.svg" width="10" alt="Précedent">
				</div>
				<div v-on:click="goToNextSlide" class="right">
					<img src="./media/images/right-arrow.svg" width="10" alt="Suivant">
				</div>
			</div>
			<div class="projects--overview--slider--pagination">
				<ul>
					<li v-on:click="goToSlide(index)" v-for="(overview, index) in specific.overview.overviews" v-bind:class="{ 'is-selected': index === slider }"></li>
				</ul>
			</div>
		</div>
	</section>
	<section id="champs-intervention" class="projects--more">
		<h2 class="projects--more--title">
			<inline v-model="specific.more.title" :global="global" />
		</h2>
		<ul>
			<li v-for="(item, index) in specific.more.sections">
				<div class="projects--more--image">
					<inline v-model="specific.more.sections[index].image" :global="global" />
				</div>
				<div class="projects--more--content">
					<block v-model="specific.more.sections[index].content" :global="global" />
				</div>
			</li>
		</ul>
	</section>
	<section class="projects--goal">
		<h2 class="projects--goal--title">
			<inline v-model="specific.goal.title" :global="global" />
		</h2>
		<ul>
			<li v-for="(item, index) in specific.goal.goals">
				<div class="projects--goal--image">
					<inline v-model="specific.goal.goals[index].image" :global="global" />
				</div>
				<div class="projects--goal--content">
					<block v-model="specific.goal.goals[index].content" :global="global" />
				</div>
			</li>
		</ul>
	</section>
	<edit v-if="global.isClient && global.me.id && global.me.role === 'admin'"
		ref="edit"
		v-bind:global="global"
		v-bind:common="common"
		v-bind:file="$options.name"
		v-bind:meta="meta"
		v-bind:body="specific"
		v-bind:current="common.edit.local"
		v-bind:options="options"></edit>
</div>