.main-footer
	position relative
	z-index 1
	margin 0 auto
	max-width 1200px
	padding 0 0 32px
	color $footerTextColor

	p
		font-size 1.6rem

	a
		color $footerLinkColor
		&:hover
			color $highlightLinkColorReversed

	&::after
		content ""
		display block
		clear both

	&--contact
	&--partner
		&--title
			padding-top 32px

			&::after
				margin-top 6px
				content ""
				width 48px
				height 3px
				border 1px solid $footerTextColor
				border-radius 8px
				display block
				clear both
				background-color $footerTextColor

		h3
			margin-top 32px
			font-size 2rem
			font-weight bold

	&--contact
		padding 0 8px

		box-sizing border-box

		@media (min-width: 950px)
			float left
			width 60%

		&::after
			content ""
			display block
			clear both

		&--title
			padding-left 16px
			padding-right 16px
			font-size 2.4rem
			@media (min-width: 600px)
				font-size 4rem
			font-weight bold

		&--cemea
			padding 0 16px

			@media (min-width: 600px)
				float left
				width 50%

		&--pesl
			padding 0 16px

			@media (min-width: 600px)
				float right
				width 50%

	&--partner
		padding 0 24px
		@media (min-width: 600px)
			padding 0 32px

		@media (min-width: 950px)
			float right
			width 40%

		&--title
			margin-bottom 32px
			font-size 2.4rem
			@media (min-width: 600px)
				font-size 4rem
			font-weight bold

		img
			margin-top 16px

	&--copyright
		clear both
		padding 24px 24px 0