.navigation
	position absolute
	padding 0 24px
	top 50%
	right 8px
	width auto
	text-align right
	transform translateY(-50%)

	@media (min-width: 420px)
		width calc(100% - 348px)

	@media (min-width: 950px)
		padding 0 140px 0 8px

	&--title
		position relative
		display inline-block
		font-size 1.6rem
		font-weight bold
		cursor pointer
		transition color .3s ease

		&::after
		&::before
			content ""
			position absolute
			border-radius 8px
			background-color $borderColor
			border 1px solid $borderColor
			width 100%
			display block
			height 3px
			transition border .3s ease, background-color .3s ease, top .5s ease, bottom .5s ease, transform .5s ease

		&:hover
			color $highlightLinkColor

			&::after
			&::before
				background-color $highlightLinkColor
				border 1px solid $highlightLinkColor

		&::before
			top -6px

		&::after
			bottom -6px

		@media (min-width: 950px)
			display none

	&--menu
		.router-link-exact-active
			cursor default
			color #ff0068

		@media (max-width: 949px)
			display none

	&.is-opened
		@media (max-width: 949px)
			position fixed
			top 0
			left 0
			width 100%
			height 100%
			background-color rgba(0, 55, 255, 0.9)
			display block
			transform none

			.cmpt-inline
				opacity 0

			& ^[0]--title
				color $linkColorReversed

				right 8px
				top 36px

				&::after
				&::before
					top 8px
					bottom 8px
					background-color $linkColorReversed
					border 1px solid $linkColorReversed

				&::after
					transform rotate(45deg)

				&::before
					transform rotate(-45deg)

				&:hover
					color $highlightLinkColor

					&::after
					&::before
						background-color $highlightLinkColor
						border 1px solid $highlightLinkColor

			& ^[0]--menu
				display block

				a
					color $linkColorReversed
					&:hover
						color $highlightLinkColorReversed
					&.router-link-exact-active
						cursor default
						color #ff0068

				@media (max-width: 949px)
					position absolute
					top 50%
					left 50%
					transform translate(-50%, -50%)
					text-align center

					li
						display block
						line-height 4rem

			& ^[0]--members-area
				li:last-child
					position static
					line-height 6rem
					transform none

					a
						border 1px solid $linkColorReversed

						&:hover
							border 1px solid $highlightLinkColor

	&--members-area
	&--menu--main
		font-size 1.6rem
		font-weight bold
		line-height 2.2rem

		@media (min-width: 950px)
			display inline-block

		li
			line-height 2.2rem
			margin 0 16px
			display inline-block

	&--members-area
		li:last-child
			position absolute
			top 50%
			transform translateY(-50%)
			right 0
			a
				border 1px solid $borderColor
				border-radius 40px
				padding 6px 12px

				&:hover
					border 1px solid $highlightLinkColor