/* Variables */

// Colors
$textColor = #0037FF
$highlightTextColor = #0037FF
$textColorReversed = #fff
$backgroundColor = #0037FF
$backgroundColorReversed = #fff
$highlightBackgroundColor = #FF3F74
$borderColor = #0037FF
$borderColorReversed = #fff
$linkColor = #0037FF
$linkColorReversed = #fff
$highlightLinkColor = #4BD1DB
$highlightLinkColorReversed = #4BD1DB
$hotColor = #ff3f74
$coldColor = #feaa51