/* Variables */

// Colors
$textColor = #a7a7a7
$highlightTextColor = #000
$textColorReversed = #fff
$backgroundColor = #fff
$highlightBackgroundColor = #FF3F74
$borderColor = #95989a
$borderColorReversed = #fff
$linkColor = #4f4f4f
$linkColorReversed = #ddd
$highlightLinkColor = #000
$highlightLinkColorReversed = #fff
$hotColor = #ff3f74
$coldColor = #feaa51