/* Common */
@import "modules/variables"
@import "modules/fonts"
@import "modules/base"
@import "animations/anim-height"
@import "modules/loading"
@import "modules/popup-alert"
@import "modules/popup-confirm"
@import "modules/edit-global"
@import "modules/the-header"
@import "modules/the-footer"
@import "modules/the-navigation"
@import "modules/the-parallax"
@import "vendors/cookieconsent"

/* Specific */
@import "page-home"
@import "page-login"
@import "page-projects"
@import "page-approach"
@import "page-google-drive"
@import "page-about"
@import "page-contact"
@import "page-error"