/* Common */
@font-face {
  font-family: 'Regular';
  font-weight: 100;
  src: url("../../media/fonts/regular-light.eot?#iefix") format('embedded-opentype'), url("../../media/fonts/regular-light.otf") format('opentype'), url("../../media/fonts/regular-light.woff") format('woff'), url("../../media/fonts/regular-light.ttf") format('truetype'), url("../../media/fonts/regular-light.svg#regular-light") format('svg');
}
@font-face {
  font-family: 'Regular';
  font-weight: bold;
  src: url("../../media/fonts/regular-bold.eot?#iefix") format('embedded-opentype'), url("../../media/fonts/regular-bold.otf") format('opentype'), url("../../media/fonts/regular-bold.woff") format('woff'), url("../../media/fonts/regular-bold.ttf") format('truetype'), url("../../media/fonts/regular-bold.svg#regular-bold") format('svg');
}
::-webkit-input-placeholder {
  color: #0037ff;
}
:-moz-placeholder {
  color: #0037ff;
  opacity: 1;
}
::-moz-placeholder {
  color: #0037ff;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #0037ff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -webkit-overflow-scrolling: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html:before,
body:before,
div:before,
span:before,
applet:before,
object:before,
iframe:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
p:before,
blockquote:before,
pre:before,
a:before,
abbr:before,
acronym:before,
address:before,
big:before,
cite:before,
code:before,
del:before,
dfn:before,
em:before,
img:before,
ins:before,
kbd:before,
q:before,
s:before,
samp:before,
small:before,
strike:before,
strong:before,
sub:before,
sup:before,
tt:before,
var:before,
b:before,
u:before,
i:before,
center:before,
dl:before,
dt:before,
dd:before,
ol:before,
ul:before,
li:before,
fieldset:before,
form:before,
label:before,
legend:before,
table:before,
caption:before,
tbody:before,
tfoot:before,
thead:before,
tr:before,
th:before,
td:before,
article:before,
aside:before,
canvas:before,
details:before,
embed:before,
figure:before,
figcaption:before,
footer:before,
header:before,
hgroup:before,
menu:before,
nav:before,
output:before,
ruby:before,
section:before,
summary:before,
time:before,
mark:before,
audio:before,
video:before,
html:after,
body:after,
div:after,
span:after,
applet:after,
object:after,
iframe:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
p:after,
blockquote:after,
pre:after,
a:after,
abbr:after,
acronym:after,
address:after,
big:after,
cite:after,
code:after,
del:after,
dfn:after,
em:after,
img:after,
ins:after,
kbd:after,
q:after,
s:after,
samp:after,
small:after,
strike:after,
strong:after,
sub:after,
sup:after,
tt:after,
var:after,
b:after,
u:after,
i:after,
center:after,
dl:after,
dt:after,
dd:after,
ol:after,
ul:after,
li:after,
fieldset:after,
form:after,
label:after,
legend:after,
table:after,
caption:after,
tbody:after,
tfoot:after,
thead:after,
tr:after,
th:after,
td:after,
article:after,
aside:after,
canvas:after,
details:after,
embed:after,
figure:after,
figcaption:after,
footer:after,
header:after,
hgroup:after,
menu:after,
nav:after,
output:after,
ruby:after,
section:after,
summary:after,
time:after,
mark:after,
audio:after,
video:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: #0037ff;
  color: #0037ff;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: 'Quicksand', 'Open Sans', 'Arial';
  letter-spacing: 0.04rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-size: 1.4rem;
}
h1 + p,
h2 + p,
h3 + p,
p + p {
  margin-top: 16px;
}
hr.separator {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #1592e6), color-stop(0%, #fff));
  background-image: linear-gradient(to right, #1592e6 33%, #fff 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}
.a,
a {
  cursor: pointer;
  color: #0037ff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, border 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease;
}
.a:hover,
a:hover {
  color: #4bd1db;
}
.arrow {
  max-width: 3.2rem;
  vertical-align: middle;
  margin: 0 0.8rem;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.main-content {
  margin-top: 95px;
  background-color: #fff;
}
.upper-content {
  z-index: 2;
  color: #0037ff;
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}
.upper-content--inner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.upper-content--inner::after {
  content: "";
  display: block;
  clear: both;
}
.lower-content {
  background-color: #0037ff;
}
.errors {
  color: #d9534f;
  font-size: 0.6em;
}
button {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  font-family: inherit;
  font-size: inherit;
  color: #0037ff;
  border: 1px solid #0037ff;
  border-radius: 40px;
  padding: 6px 12px;
  opacity: 0.8;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
}
button:hover {
  opacity: 1;
  color: #4bd1db;
  border-color: #4bd1db;
}
button.invalid {
  opacity: 0.2;
  cursor: not-allowed;
}
button:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.field {
  position: relative;
}
.field label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: top 0.5s ease, opacity 0.5s ease;
  transition: top 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  position: absolute;
  font-family: inherit;
  top: 0;
  font-size: 1.2rem;
}
.field label.label-textarea {
  z-index: 2;
  top: -2px;
}
.field textarea,
.field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 1s ease, border-color 1s ease, padding 0.5s ease !important;
  transition: color 1s ease, border-color 1s ease, padding 0.5s ease !important;
  border: 0;
  border-bottom: 1px solid #95989a;
  font-family: inherit;
  font-size: inherit;
  padding: 1.4rem 0 0.2rem;
  margin-bottom: 2.4rem;
  display: block;
  width: 100%;
  color: #0037ff;
}
.field textarea:focus,
.field input:focus {
  outline: -webkit-focus-ring-color auto 0;
  color: #00a00c;
  border-color: #00a00c;
}
.field textarea {
  min-height: 200px;
}
.field button {
  margin-top: 1.8rem;
}
.field.empty label {
  top: 10px;
  opacity: 0;
}
.field.empty input,
.field.empty textarea {
  padding: 0.8rem 0;
}
.field .errors {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
}
.invalid input:focus {
  outline: -webkit-focus-ring-color auto 0;
  color: #d9534f;
  border-color: #d9534f;
}
.fade-in-out-enter,
.fade-in-out-leave-to {
  opacity: 0;
}
.fade-in-out-leave-active,
.fade-in-out-enter-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.fade-in-out-enter-to,
.fade-in-out-leave {
  opacity: 1;
}
.vertical-slide-enter.vertical-slide-enter {
  opacity: 0;
  top: 100%;
}
.vertical-slide-enter-to.vertical-slide-enter-to {
  opacity: 1;
  top: 0;
}
.vertical-slide-reversed-leave-active.vertical-slide-reversed-leave-active,
.vertical-slide-reversed-enter-active.vertical-slide-reversed-enter-active,
.vertical-slide-leave-active.vertical-slide-leave-active,
.vertical-slide-enter-active.vertical-slide-enter-active {
  -webkit-transition: top 1s ease, opacity 1s ease;
  transition: top 1s ease, opacity 1s ease;
}
.vertical-slide-leave.vertical-slide-leave {
  opacity: 1;
  top: 0;
}
.vertical-slide-leave-to.vertical-slide-leave-to {
  opacity: 0;
  top: -100%;
}
.vertical-slide-reversed-enter.vertical-slide-reversed-enter {
  opacity: 0;
  top: -100%;
}
.vertical-slide-reversed-enter-to.vertical-slide-reversed-enter-to {
  opacity: 1;
  top: 0;
}
.vertical-slide-reversed-leave.vertical-slide-reversed-leave {
  opacity: 1;
  top: 0;
}
.vertical-slide-reversed-leave-to.vertical-slide-reversed-leave-to {
  opacity: 0;
  top: 100%;
}
.horizontal-slide-enter.horizontal-slide-enter {
  opacity: 0;
  left: 100%;
}
.horizontal-slide-enter-to.horizontal-slide-enter-to {
  opacity: 1;
  left: 0;
}
.horizontal-slide-leave-active.horizontal-slide-leave-active,
.horizontal-slide-enter-active.horizontal-slide-enter-active,
.horizontal-slide-reversed-leave-active.horizontal-slide-reversed-leave-active,
.horizontal-slide-reversed-enter-active.horizontal-slide-reversed-enter-active {
  -webkit-transition: left 1s ease, opacity 1s ease;
  transition: left 1s ease, opacity 1s ease;
}
.horizontal-slide-leave.horizontal-slide-leave {
  opacity: 1;
  left: 0;
}
.horizontal-slide-leave-to.horizontal-slide-leave-to {
  opacity: 0;
  left: -100%;
}
.horizontal-slide-reversed-enter.horizontal-slide-reversed-enter {
  opacity: 0;
  left: -100%;
}
.horizontal-slide-reversed-enter-to.horizontal-slide-reversed-enter-to {
  opacity: 1;
  left: 0;
}
.horizontal-slide-reversed-leave.horizontal-slide-reversed-leave {
  opacity: 1;
  left: 0;
}
.horizontal-slide-reversed-leave-to.horizontal-slide-reversed-leave-to {
  opacity: 0;
  left: 100%;
}
.height-transition-enter,
.height-transition-leave-to {
  opacity: 0;
  overflow: hidden;
}
.height-transition-leave-active,
.height-transition-enter-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  overflow: hidden;
}
.height-transition-enter-to,
.height-transition-leave {
  opacity: 1;
  overflow: hidden;
}
.loading {
  position: fixed;
  top: 8px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0.8;
  background: radial-gradient(ellipse at center, #fff 0%, #fff 1%, #fff 50%, rgba(229,229,229,0) 100%);
  padding: 20px 20px;
  font-size: 3rem;
  -webkit-transition: opacity 0.5s ease, top 2s ease-in;
  transition: opacity 0.5s ease, top 2s ease-in;
  z-index: 10;
  text-align: right;
}
@media (min-width: 600px) {
  .loading {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media (min-width: 900px) {
  .loading {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.as-loaded-page .loading {
  opacity: 0;
  top: -200px;
}
.alert-message {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
  text-align: left;
  z-index: 2;
}
.alert-message.is-displayed {
  display: block;
}
.alert-message--outer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ff3f74;
  background: linear-gradient(135deg, #ff3f74 0%, #fee140 100%);
  width: 100%;
}
.alert-message--inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 8px;
}
.alert-message.alert-message p {
  padding-bottom: 8px;
  font-size: inherit;
  font-size: 1.8rem;
  font-weight: lighter;
  color: #4f4f4f;
  font-family: Regular, Arial, sans-serif;
  letter-spacing: 0.04rem;
  color: #fff;
}
.alert-message.alert-message h1 {
  margin-top: 16px;
  padding-bottom: 8px;
  font-family: inherit;
  font-weight: lighter;
  font-size: 3.2rem;
  line-height: 1em;
  color: #fff;
}
.alert-message.alert-message h1::after {
  content: "";
  display: block;
  border-top: 1px solid #fff;
  width: 2rem;
  margin-top: 1.4rem;
}
.alert-message--actions {
  margin-bottom: 2em;
}
.confirm-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(255,255,255,0.8);
  text-align: left;
  z-index: 2;
}
.confirm-message.is-displayed {
  display: block;
}
.confirm-message--outer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ff3f74;
  background: linear-gradient(135deg, #ff3f74 0%, #fee140 100%);
  width: 100%;
}
.confirm-message--inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 8px;
}
.confirm-message.confirm-message p {
  padding-bottom: 8px;
  font-size: inherit;
  font-size: 1.8rem;
  font-weight: lighter;
  color: #4f4f4f;
  font-family: Regular, Arial, sans-serif;
  letter-spacing: 0.04rem;
  color: #fff;
}
.confirm-message.confirm-message h1 {
  margin-top: 16px;
  padding-bottom: 8px;
  font-family: inherit;
  font-weight: lighter;
  font-size: 3.2rem;
  line-height: 1em;
  color: #fff;
}
.confirm-message.confirm-message h1::after {
  content: "";
  display: block;
  border-top: 1px solid #fff;
  width: 2rem;
  margin-top: 1.4rem;
}
.confirm-message--actions {
  margin-bottom: 2em;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.edit {
  display: none;
  font-size: 0.8em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
  z-index: 11;
}
@media (min-width: 768px) {
  .edit {
    display: block;
  }
}
.edit.is-opened {
  z-index: 1000;
}
.edit.is-global {
  bottom: 90px;
}
.edit--tabs {
  padding: 8px;
  background-color: #16a664;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.edit--save,
.edit--start {
  vertical-align: bottom;
  -webkit-box-shadow: 0 0 10px 2px #aaa;
          box-shadow: 0 0 10px 2px #aaa;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  background-color: $fff;
  opacity: 1;
  padding: 12px 8px 8px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease, stroke 0.5s ease;
  transition: background-color 0.5s ease, stroke 0.5s ease;
}
.edit--save {
  background-color: #ff3f74;
  font-weight: bold;
  color: #fff;
  margin-right: 8px;
}
.edit--editbox {
  -webkit-box-shadow: 0 0 10px 2px #aaa;
          box-shadow: 0 0 10px 2px #aaa;
  margin-bottom: 16px;
  position: absolute;
  width: 470px;
  background-color: #fff;
  height: 300px;
  text-align: left;
  bottom: 100%;
  right: 0;
  border-radius: 8px;
}
.edit--editbox--set-meta,
.edit--editbox--set-body {
  display: inline-block;
  cursor: pointer;
  color: #4dbb89;
  padding: 4px 8px;
  font-weight: bold;
}
.edit--editbox--set-meta.is-current,
.edit--editbox--set-body.is-current {
  color: #fff;
}
.edit.to-right .edit--editbox {
  left: 0;
  right: auto;
}
.edit.to-bottom .edit--editbox {
  top: 100%;
  bottom: auto;
}
div.jsoneditor-outer.jsoneditor-outer {
  height: 260px;
}
div.jsoneditor.jsoneditor {
  border: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.block .ckeditor.is-inline > div {
  display: block;
}
.ckeditor.is-editable > div:not(.cke_focus) {
  background-color: rgba(238,236,248,0.8); /* #fdf3cb */
}
.ckeditor.is-editable > div:not(.cke_focus) img {
  opacity: 0.5;
}
.ckeditor.is-inline > div {
  display: inline-block;
}
.is-attr {
  background-color: rgba(193,244,180,0.8);
  position: relative;
}
.is-attr .attr-list {
  font-weight: lighter;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
  text-align: left;
  color: #000;
  min-width: 200px;
  background-color: transparent;
  display: none;
  position: absolute;
  top: 100%;
  left: -8px;
  padding: 8px 8px 4px 8px;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
}
.is-attr .attr-list .attr {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
.is-attr:hover {
  z-index: 2;
}
.is-attr:hover .attr-list {
  display: block;
}
.main-header {
  float: left;
  width: auto;
  padding: 24px;
  height: 95px;
  position: relative;
  z-index: 2;
}
@media (min-width: 420px) {
  .main-header {
    width: 348px;
  }
}
.main-header.is-opened a {
  color: #fff;
}
.main-header.is-opened a:hover {
  color: #4bd1db;
}
.main-header--title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-right: 24px;
}
.main-header--aside {
  display: inline-block;
}
@media (max-width: 419px) {
  .main-header--aside {
    display: none;
  }
}
.main-footer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 32px;
  color: #fff;
}
.main-footer p {
  font-size: 1.6rem;
}
.main-footer a {
  color: #fff;
}
.main-footer a:hover {
  color: #4bd1db;
}
.main-footer::after {
  content: "";
  display: block;
  clear: both;
}
.main-footer--contact--title,
.main-footer--partner--title {
  margin-top: 32px;
}
.main-footer--contact--title::after,
.main-footer--partner--title::after {
  margin-top: 6px;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #fff;
}
.main-footer--contact h3,
.main-footer--partner h3 {
  margin-top: 32px;
  font-size: 2rem;
  font-weight: bold;
}
.main-footer--contact {
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 600px) {
  .main-footer--contact {
    padding: 0 16px;
  }
}
@media (min-width: 950px) {
  .main-footer--contact {
    float: left;
    width: 60%;
  }
}
.main-footer--contact::after {
  content: "";
  display: block;
  clear: both;
}
.main-footer--contact--title {
  padding: 0 16px;
  font-size: 2.4rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .main-footer--contact--title {
    font-size: 4rem;
  }
}
.main-footer--contact--cemea {
  padding: 0 16px;
}
@media (min-width: 600px) {
  .main-footer--contact--cemea {
    float: left;
    width: 50%;
  }
}
.main-footer--contact--pesl {
  padding: 0 16px;
}
@media (min-width: 600px) {
  .main-footer--contact--pesl {
    float: right;
    width: 50%;
  }
}
.main-footer--partner {
  padding: 0 24px;
}
@media (min-width: 600px) {
  .main-footer--partner {
    padding: 0 32px;
  }
}
@media (min-width: 950px) {
  .main-footer--partner {
    float: right;
    width: 40%;
  }
}
.main-footer--partner--title {
  margin-bottom: 32px;
  font-size: 2.4rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .main-footer--partner--title {
    font-size: 4rem;
  }
}
.main-footer--partner img {
  margin-top: 16px;
}
.navigation {
  position: absolute;
  padding: 0 24px;
  top: 50%;
  right: 8px;
  width: auto;
  text-align: right;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 420px) {
  .navigation {
    width: calc(100% - 348px);
  }
}
@media (min-width: 950px) {
  .navigation {
    padding: 0 140px 0 8px;
  }
}
.navigation--title {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.navigation--title::after,
.navigation--title::before {
  content: "";
  position: absolute;
  border-radius: 8px;
  background-color: #0037ff;
  border: 1px solid #0037ff;
  width: 100%;
  display: block;
  height: 3px;
  -webkit-transition: border 0.3s ease, background-color 0.3s ease, top 0.5s ease, bottom 0.5s ease, -webkit-transform 0.5s ease;
  transition: border 0.3s ease, background-color 0.3s ease, top 0.5s ease, bottom 0.5s ease, -webkit-transform 0.5s ease;
  transition: border 0.3s ease, background-color 0.3s ease, top 0.5s ease, bottom 0.5s ease, transform 0.5s ease;
  transition: border 0.3s ease, background-color 0.3s ease, top 0.5s ease, bottom 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.navigation--title:hover {
  color: #4bd1db;
}
.navigation--title:hover::after,
.navigation--title:hover::before {
  background-color: #4bd1db;
  border: 1px solid #4bd1db;
}
.navigation--title::before {
  top: -6px;
}
.navigation--title::after {
  bottom: -6px;
}
@media (min-width: 950px) {
  .navigation--title {
    display: none;
  }
}
.navigation--menu .router-link-exact-active {
  cursor: default;
  color: #ff0068;
}
@media (max-width: 949px) {
  .navigation--menu {
    display: none;
  }
}
@media (max-width: 949px) {
  .navigation.is-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,55,255,0.9);
    display: block;
    -webkit-transform: none;
            transform: none;
  }
  .navigation.is-opened .inline {
    opacity: 0;
  }
  .navigation.is-opened .navigation--title {
    color: #fff;
    right: 8px;
    top: 36px;
  }
  .navigation.is-opened .navigation--title::after,
  .navigation.is-opened .navigation--title::before {
    top: 8px;
    bottom: 8px;
    background-color: #fff;
    border: 1px solid #fff;
  }
  .navigation.is-opened .navigation--title::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navigation.is-opened .navigation--title::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navigation.is-opened .navigation--title:hover {
    color: #4bd1db;
  }
  .navigation.is-opened .navigation--title:hover::after,
  .navigation.is-opened .navigation--title:hover::before {
    background-color: #4bd1db;
    border: 1px solid #4bd1db;
  }
  .navigation.is-opened .navigation--menu {
    display: block;
  }
  .navigation.is-opened .navigation--menu a {
    color: #fff;
  }
  .navigation.is-opened .navigation--menu a:hover {
    color: #4bd1db;
  }
  .navigation.is-opened .navigation--menu a.router-link-exact-active {
    cursor: default;
    color: #ff0068;
  }
  .navigation.is-opened .navigation--members-area li:last-child {
    position: static;
    line-height: 6rem;
    -webkit-transform: none;
            transform: none;
  }
  .navigation.is-opened .navigation--members-area li:last-child a {
    border: 1px solid #fff;
  }
  .navigation.is-opened .navigation--members-area li:last-child a:hover {
    border: 1px solid #4bd1db;
  }
}
@media (max-width: 949px) and (max-width: 949px) {
  .navigation.is-opened .navigation--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .navigation.is-opened li {
    display: block;
    line-height: 4rem;
  }
}
.navigation--members-area,
.navigation--menu--main {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.2rem;
}
@media (min-width: 950px) {
  .navigation--members-area,
  .navigation--menu--main {
    display: inline-block;
  }
}
.navigation--members-area li,
.navigation--menu--main li {
  line-height: 2.2rem;
  margin: 0 16px;
  display: inline-block;
}
.navigation--members-area li:last-child {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.navigation--members-area li:last-child a {
  border: 1px solid #0037ff;
  border-radius: 40px;
  padding: 6px 12px;
}
.navigation--members-area li:last-child a:hover {
  border: 1px solid #4bd1db;
}
/* Specific */
@media (min-width: 900px) {
  .is-on-top .home--about {
    min-height: calc(100vh - 95px);
  }
  .is-on-top .home--about .next {
    opacity: 1;
  }
  .is-on-top .home--about--inner {
    top: 33.33333333vh;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.home img {
  max-width: 100%;
  height: auto !important;
}
.home h3 {
  font-size: 2.4rem;
}
.home--title {
  display: none;
}
.home--partner,
.home--approach,
.home--about {
  padding: 24px 0;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 0;
}
.home--partner--title,
.home--approach--title,
.home--about--title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 4.2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .home--partner--title,
  .home--approach--title,
  .home--about--title {
    text-align: left;
    margin-top: 0;
    font-size: 4rem;
  }
}
.home--partner--title::after,
.home--approach--title::after,
.home--about--title::after {
  margin: 16px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #0037ff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #0037ff;
}
@media (min-width: 600px) {
  .home--partner--title::after,
  .home--approach--title::after,
  .home--about--title::after {
    margin: 16px 0 0;
  }
}
@media (min-width: 900px) {
  .home--approach,
  .home--about {
    margin-bottom: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
  }
}
.home--approach--cta,
.home--about--cta {
  margin-top: 32px;
  margin-bottom: 32px;
}
.home--approach--cta a,
.home--about--cta a {
  color: #0037ff;
  border: 1px solid #0037ff;
  border-radius: 40px;
  padding: 6px 12px;
  background-color: #fff;
  font-weight: bold;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
}
.home--approach--cta a:hover,
.home--about--cta a:hover {
  color: #4bd1db;
  border-color: #4bd1db;
}
.home--about {
  position: relative;
  -webkit-transition: min-height 3s ease;
  transition: min-height 3s ease;
}
.home--about .next {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  border: 2px solid #0037ff;
  border-radius: 50%;
  padding: 0 7px;
  -webkit-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
  cursor: pointer;
}
.home--about .next img {
  margin-right: 2px;
  margin-top: 4px;
}
.home--about--inner {
  position: relative;
  top: 32px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: top 0.5s ease, -webkit-transform 0.5s ease;
  transition: top 0.5s ease, -webkit-transform 0.5s ease;
  transition: top 0.5s ease, transform 0.5s ease;
  transition: top 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media (max-width: 599px) {
  .home--about {
    padding-top: 0;
  }
}
.home--about--main {
  padding: 0 24px;
}
@media (min-width: 600px) {
  .home--about--main {
    padding: 0 64px;
    width: 50%;
  }
}
.home--about--image {
  height: 264px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .home--about--image {
    overflow: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 900px) {
  .home--approach {
    margin-top: 48px;
  }
}
.home--approach--main {
  padding: 0 24px;
}
@media (min-width: 600px) {
  .home--approach--main {
    padding: 0 64px;
    width: 50%;
    margin-left: 50%;
  }
}
.home--approach--image {
  height: 264px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .home--approach--image {
    overflow: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.home--partner {
  text-align: center;
}
.home--partner--slider {
  padding: 32px;
  position: relative;
}
.home--partner--slider--content ul {
  position: relative;
}
.home--partner--slider--content li:first-child {
  position: relative;
}
.home--partner--slider--content li {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease, z-index 1s ease;
  transition: opacity 1s ease, z-index 1s ease;
}
.home--partner--slider--content li:first-child {
  position: relative;
}
.home--partner--slider--content li.is-selected {
  z-index: 2;
  opacity: 1;
}
.home--partner--slider--content li::after {
  content: "";
  display: block;
  clear: both;
}
.home--partner--slider--navigation .left,
.home--partner--slider--navigation .right {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid #0037ff;
  border-radius: 50%;
  padding: 0 7px;
}
.home--partner--slider--navigation .left img,
.home--partner--slider--navigation .right img {
  margin-top: 4px;
}
.home--partner--slider--navigation .left {
  left: 16px;
}
@media (min-width: 600px) {
  .home--partner--slider--navigation .left {
    left: 64px;
  }
}
.home--partner--slider--navigation .left img {
  margin-right: 2px;
}
.home--partner--slider--navigation .right {
  right: 16px;
}
@media (min-width: 600px) {
  .home--partner--slider--navigation .right {
    right: 64px;
  }
}
.home--partner--slider--navigation .right img {
  margin-left: 2px;
}
.home--partner--slider--pagination {
  display: none;
}
@media (min-width: 600px) {
  .home--partner--slider--pagination {
    display: inline-block;
  }
}
.home--partner--slider--pagination ul {
  padding-top: 48px;
}
.home--partner--slider--pagination li {
  display: inline-block;
  border-radius: 50%;
  background-color: #0037ff;
  width: 16px;
  height: 16px;
  margin: 0 16px;
  opacity: 0.4;
  cursor: pointer;
}
.home--partner--slider--pagination li.is-selected {
  cursor: default;
  opacity: 1;
}
.home--partner--image {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .home--partner--image {
    width: 50%;
    text-align: right;
  }
}
.home--partner--content {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .home--partner--content {
    text-align: left;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    max-width: 424px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.home--partner--title {
  text-align: center;
}
.home--partner--title::after {
  margin: 16px auto 0;
}
.login {
  background-color: #0037ff;
  color: #fff;
}
.login h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.login h1::after {
  margin: 6px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #fff;
}
.login input {
  color: #fff;
  background-color: #0037ff;
  border-bottom: 1px solid #fff;
  margin-left: 32px;
  width: calc(100% - 24px);
}
.login input:focus {
  color: #4bd1db;
  border-color: #4bd1db;
}
.login label {
  margin-left: 32px;
}
.login button {
  color: #fff;
  border-color: #fff;
  background-color: #0037ff;
}
.login button:hover {
  color: #4bd1db;
  border-color: #4bd1db;
}
.login ::-webkit-input-placeholder {
  color: #fff;
}
.login :-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.login ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.login ::-ms-input-placeholder {
  color: #fff;
}
.login .errors {
  color: #ff0068;
}
.login .invalid input:focus {
  color: #ff0068;
  border-color: #ff0068;
}
.login--me {
  padding-bottom: 16px;
}
.login--form {
  margin-top: 16px;
}
.login--form .field {
  position: relative;
  text-align: left;
}
.login--form .field img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.login--inner {
  padding: 32px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #0037ff;
}
.projects img {
  max-width: 100%;
  height: auto !important;
}
.projects--article {
  overflow: hidden;
}
.projects--image {
  height: 264px;
  overflow: hidden;
  width: 578px;
}
@media (min-width: 600px) {
  .projects--image {
    width: auto;
    overflow: auto;
    height: auto;
  }
}
@media (min-width: 900px) {
  .projects--image img {
    width: 100% !important;
    max-width: auto;
  }
}
.projects--main {
  position: relative;
  background-color: #fff;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .projects--main {
    padding: 64px;
  }
}
@media (min-width: 950px) {
  .projects--main {
    margin: -300px auto 0;
  }
}
.projects--title,
.projects--about--title,
.projects--overview--title,
.projects--more--title,
.projects--goal--title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 4.2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .projects--title,
  .projects--about--title,
  .projects--overview--title,
  .projects--more--title,
  .projects--goal--title {
    text-align: left;
    margin-top: 0;
    font-size: 4rem;
  }
}
.projects--title::after,
.projects--about--title::after,
.projects--overview--title::after,
.projects--more--title::after,
.projects--goal--title::after {
  margin: 16px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #0037ff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #0037ff;
}
@media (min-width: 600px) {
  .projects--title::after,
  .projects--about--title::after,
  .projects--overview--title::after,
  .projects--more--title::after,
  .projects--goal--title::after {
    margin: 16px 0 0;
  }
}
.projects--cta {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.projects--cta li {
  margin: 16px;
}
@media (min-width: 600px) {
  .projects--cta li {
    display: inline-block;
    margin: 32px;
  }
}
.projects--cta--link {
  display: inline-block;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  font-family: inherit;
  font-size: inherit;
  color: #0037ff;
  border: 1px solid #0037ff;
  border-radius: 40px;
  padding: 6px 12px;
  opacity: 0.8;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
}
.projects--cta--link:hover {
  opacity: 1;
  color: #4bd1db;
  border-color: #4bd1db;
}
.projects--cta--link.invalid {
  opacity: 0.2;
  cursor: not-allowed;
}
.projects--cta--link:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.projects--quote {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}
.projects--quote p {
  line-height: 1.2;
  font-size: 3rem;
}
@media (min-width: 600px) {
  .projects--quote p {
    font-size: 4rem;
  }
}
.projects--about,
.projects--overview {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .projects--about,
  .projects--overview {
    padding: 24px 0;
  }
}
@media (min-width: 600px) {
  .projects--about {
    margin-bottom: 48px;
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: hidden;
  }
}
.projects--about--main {
  padding: 0 24px;
}
@media (min-width: 600px) {
  .projects--about--main {
    padding: 0 64px;
    width: 50%;
  }
}
.projects--about--image {
  margin-top: 24px;
}
@media (min-width: 600px) {
  .projects--about--image {
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.projects--overview {
  text-align: center;
}
.projects--overview--slider {
  padding: 32px;
  position: relative;
}
.projects--overview--slider--content ul {
  position: relative;
}
.projects--overview--slider--content li:first-child {
  position: relative;
}
.projects--overview--slider--content li {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease, z-index 1s ease;
  transition: opacity 1s ease, z-index 1s ease;
}
.projects--overview--slider--content li:first-child {
  position: relative;
}
.projects--overview--slider--content li.is-selected {
  z-index: 2;
  opacity: 1;
}
.projects--overview--slider--content li::after {
  content: "";
  display: block;
  clear: both;
}
.projects--overview--slider--navigation .left,
.projects--overview--slider--navigation .right {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid #0037ff;
  border-radius: 50%;
  padding: 0 7px;
}
.projects--overview--slider--navigation .left img,
.projects--overview--slider--navigation .right img {
  margin-top: 4px;
}
.projects--overview--slider--navigation .left {
  left: 16px;
}
@media (min-width: 950px) {
  .projects--overview--slider--navigation .left {
    left: 64px;
  }
}
.projects--overview--slider--navigation .left img {
  margin-right: 2px;
}
.projects--overview--slider--navigation .right {
  right: 16px;
}
@media (min-width: 950px) {
  .projects--overview--slider--navigation .right {
    right: 64px;
  }
}
.projects--overview--slider--navigation .right img {
  margin-left: 2px;
}
.projects--overview--slider--pagination {
  display: none;
}
@media (min-width: 600px) {
  .projects--overview--slider--pagination {
    display: inline-block;
  }
}
.projects--overview--slider--pagination ul {
  padding-top: 48px;
}
.projects--overview--slider--pagination li {
  display: inline-block;
  border-radius: 50%;
  background-color: #0037ff;
  width: 16px;
  height: 16px;
  margin: 0 16px;
  opacity: 0.4;
  cursor: pointer;
}
.projects--overview--slider--pagination li.is-selected {
  cursor: default;
  opacity: 1;
}
.projects--overview--image {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .projects--overview--image {
    width: 50%;
    text-align: right;
  }
}
.projects--overview--content {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .projects--overview--content {
    text-align: left;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    max-width: 424px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.projects--overview--title {
  text-align: center;
}
.projects--overview--title::after {
  margin: 16px auto 0;
}
.projects--more {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .projects--more {
    padding: 24px 0;
  }
}
.projects--more h3 {
  margin-top: 16px;
  font-weight: bold;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .projects--more h3 {
    margin-top: 0;
  }
}
@media (min-width: 600px) {
  .projects--more h3 {
    font-size: 3rem;
  }
}
.projects--more li {
  position: relative;
}
@media (min-width: 600px) {
  .projects--more li {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.projects--more--image {
  margin-top: 32px;
  text-align: center;
  padding: 0 24px;
}
.projects--more--title {
  text-align: center;
}
.projects--more--title::after {
  margin: 16px auto 0;
}
.projects--more--content {
  padding: 0 24px;
}
@media (min-width: 600px) {
  .projects--more--content {
    position: absolute;
    top: 50%;
    width: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 600px) {
  .projects--more--image {
    margin-top: 0;
  }
  .projects--more li:nth-child(even) .projects--more--content {
    left: 0;
  }
  .projects--more li:nth-child(even) .projects--more--image {
    margin-left: 50%;
    width: 50%;
    height: 278px;
  }
  .projects--more li:nth-child(odd) .projects--more--content {
    right: 0;
  }
  .projects--more li:nth-child(odd) .projects--more--image {
    width: 50%;
    height: 278px;
  }
}
.projects--goal {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 16px;
}
.projects--goal--title {
  text-align: center;
}
.projects--goal--title::after {
  margin: 16px auto 0;
}
@media (min-width: 600px) {
  .projects--goal p {
    font-size: 1.6rem;
  }
}
.projects--goal ul {
  text-align: center;
}
.projects--goal li {
  vertical-align: top;
  padding: 24px 8px;
  font-size: inherit;
  display: inline-block;
  width: 50%;
}
@media (min-width: 600px) {
  .projects--goal li {
    width: 33.33333333%;
  }
}
.approach img {
  max-width: 100%;
  height: auto !important;
}
.approach--article {
  overflow: hidden;
}
.approach--image {
  height: 264px;
  overflow: hidden;
  width: 578px;
}
@media (min-width: 600px) {
  .approach--image {
    width: auto;
    overflow: auto;
    height: auto;
  }
}
@media (min-width: 900px) {
  .approach--image img {
    width: 100% !important;
    max-width: auto;
  }
}
.approach--documentation,
.approach--structure,
.approach--main {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .approach--documentation,
  .approach--structure,
  .approach--main {
    padding: 0 64px;
  }
}
.approach--main {
  position: relative;
  background-color: #fff;
}
@media (min-width: 600px) {
  .approach--main {
    padding: 64px;
  }
}
@media (min-width: 950px) {
  .approach--main {
    margin: -300px auto 0;
  }
}
.approach--title,
.approach--documentation--title,
.approach--structure--title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 4.2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .approach--title,
  .approach--documentation--title,
  .approach--structure--title {
    text-align: left;
    margin-top: 0;
    font-size: 4rem;
  }
}
.approach--title::after,
.approach--documentation--title::after,
.approach--structure--title::after {
  margin: 16px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #0037ff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #0037ff;
}
@media (min-width: 600px) {
  .approach--title::after,
  .approach--documentation--title::after,
  .approach--structure--title::after {
    margin: 16px 0 0;
  }
}
.approach--quote {
  margin-top: 64px;
  text-align: center;
}
.approach--quote p {
  line-height: 1.2;
  font-size: 3rem;
}
@media (min-width: 600px) {
  .approach--quote p {
    font-size: 4rem;
  }
}
.approach--structure h3 {
  font-weight: bold;
  font-size: 1.8rem;
}
@media (min-width: 600px) {
  .approach--structure h3 {
    font-size: 2.4rem;
  }
}
.approach--structure ul {
  padding-top: 32px;
  padding-bottom: 32px;
}
.approach--structure li:nth-child(1) .approach--structure--role img {
  bottom: 0;
  left: 25%;
  -webkit-transform: translate(-50%, calc(50% + 12px));
          transform: translate(-50%, calc(50% + 12px));
}
.approach--structure li:nth-child(2) .approach--structure--role img {
  top: 0;
  right: 25%;
  -webkit-transform: translate(50%, -62%);
          transform: translate(50%, -62%);
}
.approach--structure li:nth-child(3) .approach--structure--role {
  float: left;
  width: calc(50% - 12px);
}
.approach--structure li:nth-child(3) .approach--structure--role img {
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.approach--structure li:nth-child(4) {
  margin-left: calc(50% + 12px);
  width: calc(50% - 12px);
}
.approach--structure li:nth-child(4) img {
  right: 50%;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.approach--structure--role {
  position: relative;
  border-radius: 8px;
  padding: 24px;
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
  margin-bottom: 24px;
}
@media (min-width: 600px) {
  .approach--structure--role {
    padding: 48px;
  }
}
.approach--structure--role img {
  z-index: 2;
  position: absolute;
}
.approach--documentation {
  padding-bottom: 32px;
}
.approach--documentation--result {
  border-radius: 8px;
  padding: 24px;
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
  margin-bottom: 24px;
}
.approach--documentation--result::after {
  content: "";
  display: block;
  clear: both;
}
.approach--documentation--result--title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.8rem;
}
@media (max-width: 599px) {
  .approach--documentation--result--detail strong {
    display: block;
  }
}
.approach--documentation--result--image {
  float: right;
}
.approach--documentation--result--image img {
  margin-top: -16px;
  margin-bottom: -16px;
  border: 1px solid #e0e0e0;
  height: 84px !important;
  margin-left: 16px;
}
.approach--documentation button {
  border: 0;
  margin-top: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  opacity: 1;
}
.approach--documentation label {
  margin-left: 16px;
}
.approach--documentation input {
  border: 1px solid #0037ff;
  border-radius: 24px;
  padding: 1.4rem 16px 0.2rem;
}
.approach--documentation .field {
  position: relative;
}
.approach--documentation .field.empty input {
  padding: 0.8rem 16px;
}
.google-drive img {
  max-width: 100%;
  height: auto !important;
}
.google-drive--article {
  overflow: hidden;
}
.google-drive--image {
  height: 264px;
  overflow: hidden;
  width: 578px;
}
@media (min-width: 600px) {
  .google-drive--image {
    width: auto;
    overflow: auto;
    height: auto;
  }
}
@media (min-width: 900px) {
  .google-drive--image img {
    width: 100% !important;
    max-width: auto;
  }
}
.google-drive--documentation,
.google-drive--information,
.google-drive--main {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .google-drive--documentation,
  .google-drive--information,
  .google-drive--main {
    padding: 0 64px;
  }
}
.google-drive--main {
  position: relative;
  background-color: #fff;
}
@media (min-width: 600px) {
  .google-drive--main {
    padding: 64px;
  }
}
@media (min-width: 950px) {
  .google-drive--main {
    margin: -300px auto 0;
  }
}
.google-drive--information {
  padding-bottom: 32px;
}
.google-drive--information h3 {
  font-weight: bold;
  font-size: 1.8rem;
}
@media (min-width: 600px) {
  .google-drive--information h3 {
    font-size: 2.4rem;
  }
}
.google-drive--title,
.google-drive--documentation--title,
.google-drive--information--title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 4.2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .google-drive--title,
  .google-drive--documentation--title,
  .google-drive--information--title {
    text-align: left;
    margin-top: 0;
    font-size: 4rem;
  }
}
.google-drive--title::after,
.google-drive--documentation--title::after,
.google-drive--information--title::after {
  margin: 16px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #0037ff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #0037ff;
}
@media (min-width: 600px) {
  .google-drive--title::after,
  .google-drive--documentation--title::after,
  .google-drive--information--title::after {
    margin: 16px 0 0;
  }
}
.google-drive--tips {
  margin-top: 48px;
  border-radius: 8px;
  padding: 24px;
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
}
@media (min-width: 600px) {
  .google-drive--tips {
    padding: 48px;
  }
}
.google-drive--documentation {
  padding-bottom: 32px;
}
.google-drive--documentation--result {
  border-radius: 8px;
  padding: 24px;
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
  margin-bottom: 24px;
}
.google-drive--documentation--result::after {
  content: "";
  display: block;
  clear: both;
}
.google-drive--documentation--result--title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.8rem;
}
@media (max-width: 599px) {
  .google-drive--documentation--result--detail strong {
    display: block;
  }
}
.google-drive--documentation--result--image {
  float: right;
}
.google-drive--documentation--result--image img {
  margin-top: -16px;
  margin-bottom: -16px;
  border: 1px solid #e0e0e0;
  height: 84px !important;
  margin-left: 16px;
}
.google-drive--documentation button {
  border: 0;
  margin-top: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  opacity: 1;
}
.google-drive--documentation label {
  margin-left: 16px;
}
.google-drive--documentation input {
  border: 1px solid #0037ff;
  border-radius: 24px;
  padding: 1.4rem 16px 0.2rem;
}
.google-drive--documentation .field {
  position: relative;
}
.google-drive--documentation .field.empty input {
  padding: 0.8rem 16px;
}
.contact img {
  max-width: 100%;
  height: auto !important;
}
.contact--article {
  overflow: hidden;
}
.contact--image {
  height: 264px;
  overflow: hidden;
  width: 578px;
}
@media (min-width: 600px) {
  .contact--image {
    width: auto;
    overflow: auto;
    height: auto;
  }
}
@media (min-width: 900px) {
  .contact--image img {
    width: 100% !important;
    max-width: auto;
  }
}
.contact--main {
  position: relative;
  background-color: #fff;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .contact--main {
    padding: 64px;
  }
}
@media (min-width: 950px) {
  .contact--main {
    margin: -300px auto 0;
  }
}
.contact--message {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 600px) {
  .contact--message {
    padding: 64px;
  }
}
.contact--message .field {
  -webkit-box-shadow: 0 0 10px 2px #e0e0e0;
          box-shadow: 0 0 10px 2px #e0e0e0;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 24px;
}
.contact--message .field:first-child {
  margin-top: 24px;
}
.contact--message .field svg,
.contact--message .field img {
  position: absolute;
  top: 8px;
  left: 12px;
}
.contact--message .field svg .cls-1,
.contact--message .field img .cls-1 {
  fill: none;
  stroke: #0037ff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.contact--message .field label {
  margin-left: 32px;
  top: 8px;
}
.contact--message .field.empty label {
  top: 18px;
}
.contact--message input,
.contact--message textarea {
  padding: 1.6rem 0 0;
  margin-left: 32px;
  width: calc(100% - 64px);
  margin-bottom: 0;
  border: 0;
}
.contact--title,
.contact--partner--title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 4.2rem;
  text-align: center;
}
@media (min-width: 600px) {
  .contact--title,
  .contact--partner--title {
    text-align: left;
    margin-top: 0;
    font-size: 4rem;
  }
}
.contact--title::after,
.contact--partner--title::after {
  margin: 16px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #0037ff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #0037ff;
}
@media (min-width: 600px) {
  .contact--title::after,
  .contact--partner--title::after {
    margin: 16px 0 0;
  }
}
.contact--partner {
  padding: 24px 0;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.contact--partner--slider {
  padding: 32px;
  position: relative;
}
.contact--partner--slider--content ul {
  position: relative;
}
.contact--partner--slider--content li:first-child {
  position: relative;
}
.contact--partner--slider--content li {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease, z-index 1s ease;
  transition: opacity 1s ease, z-index 1s ease;
}
.contact--partner--slider--content li:first-child {
  position: relative;
}
.contact--partner--slider--content li.is-selected {
  z-index: 2;
  opacity: 1;
}
.contact--partner--slider--content li::after {
  content: "";
  display: block;
  clear: both;
}
.contact--partner--slider--navigation .left,
.contact--partner--slider--navigation .right {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid #0037ff;
  border-radius: 50%;
  padding: 0 7px;
}
.contact--partner--slider--navigation .left img,
.contact--partner--slider--navigation .right img {
  margin-top: 4px;
}
.contact--partner--slider--navigation .left {
  left: 16px;
}
@media (min-width: 600px) {
  .contact--partner--slider--navigation .left {
    left: 64px;
  }
}
.contact--partner--slider--navigation .left img {
  margin-right: 2px;
}
.contact--partner--slider--navigation .right {
  right: 16px;
}
@media (min-width: 600px) {
  .contact--partner--slider--navigation .right {
    right: 64px;
  }
}
.contact--partner--slider--navigation .right img {
  margin-left: 2px;
}
.contact--partner--slider--pagination {
  display: none;
}
@media (min-width: 600px) {
  .contact--partner--slider--pagination {
    display: inline-block;
  }
}
.contact--partner--slider--pagination ul {
  padding-top: 48px;
}
.contact--partner--slider--pagination li {
  display: inline-block;
  border-radius: 50%;
  background-color: #0037ff;
  width: 16px;
  height: 16px;
  margin: 0 16px;
  opacity: 0.4;
  cursor: pointer;
}
.contact--partner--slider--pagination li.is-selected {
  cursor: default;
  opacity: 1;
}
.contact--partner--image {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .contact--partner--image {
    width: 50%;
    text-align: right;
  }
}
.contact--partner--content {
  padding: 0 32px;
}
@media (min-width: 600px) {
  .contact--partner--content {
    text-align: left;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    max-width: 424px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.contact--partner--title {
  text-align: center;
}
.contact--partner--title::after {
  margin: 16px auto 0;
}
.error {
  background-color: #0037ff;
  color: #fff;
}
.error h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.error h1::after {
  margin: 6px auto 0;
  content: "";
  width: 48px;
  height: 3px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  clear: both;
  background-color: #fff;
}
.error--inner {
  padding: 32px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #0037ff;
}
