/* Common */
@import "modules/variables"
@import "modules/fonts"
@import "modules/base"
@import "animations/global"
@import "animations/height-transition"
@import "modules/loading"
@import "modules/alert-message"
@import "modules/confirm-message"
@import "modules/edit"
@import "modules/main-header"
@import "modules/main-footer"
@import "modules/navigation"
@import "modules/parallax"
@import "vendors/cookieconsent"

/* Specific */
@import "home"
@import "login"
@import "projects"
@import "approach"
@import "google-drive"
@import "about"
@import "contact"
@import "error"