.anim-height-enter
.anim-height-leave-to
	opacity 0
	overflow hidden

.anim-height-leave-active
.anim-height-enter-active
	transition opacity .5s
	overflow hidden

.anim-height-enter-to
.anim-height-leave
	opacity 1
	overflow hidden