.fade-in-out-enter
.fade-in-out-leave-to
	opacity 0

.fade-in-out-leave-active
.fade-in-out-enter-active
	transition opacity 1s

.fade-in-out-enter-to
.fade-in-out-leave
	opacity 1






.vertical-slide-enter.vertical-slide-enter
	opacity 0
	top 100%

.vertical-slide-enter-to.vertical-slide-enter-to
	opacity 1
	top 0

.vertical-slide-reversed-leave-active.vertical-slide-reversed-leave-active
.vertical-slide-reversed-enter-active.vertical-slide-reversed-enter-active
.vertical-slide-leave-active.vertical-slide-leave-active
.vertical-slide-enter-active.vertical-slide-enter-active
	transition top 1s ease, opacity 1s ease

.vertical-slide-leave.vertical-slide-leave
	opacity 1
	top 0

.vertical-slide-leave-to.vertical-slide-leave-to
	opacity 0
	top -100%

.vertical-slide-reversed-enter.vertical-slide-reversed-enter
	opacity 0
	top -100%

.vertical-slide-reversed-enter-to.vertical-slide-reversed-enter-to
	opacity 1
	top 0

.vertical-slide-reversed-leave.vertical-slide-reversed-leave
	opacity 1
	top 0

.vertical-slide-reversed-leave-to.vertical-slide-reversed-leave-to
	opacity 0
	top 100%





.horizontal-slide-enter.horizontal-slide-enter
	opacity 0
	left 100%

.horizontal-slide-enter-to.horizontal-slide-enter-to
	opacity 1
	left 0

.horizontal-slide-leave-active.horizontal-slide-leave-active
.horizontal-slide-enter-active.horizontal-slide-enter-active
.horizontal-slide-reversed-leave-active.horizontal-slide-reversed-leave-active
.horizontal-slide-reversed-enter-active.horizontal-slide-reversed-enter-active
	transition left 1s ease, opacity 1s ease

.horizontal-slide-leave.horizontal-slide-leave
	opacity 1
	left 0

.horizontal-slide-leave-to.horizontal-slide-leave-to
	opacity 0
	left -100%

.horizontal-slide-reversed-enter.horizontal-slide-reversed-enter
	opacity 0
	left -100%

.horizontal-slide-reversed-enter-to.horizontal-slide-reversed-enter-to
	opacity 1
	left 0

.horizontal-slide-reversed-leave.horizontal-slide-reversed-leave
	opacity 1
	left 0

.horizontal-slide-reversed-leave-to.horizontal-slide-reversed-leave-to
	opacity 0
	left 100%