.height-transition-enter
.height-transition-leave-to
	opacity 0
	overflow hidden

.height-transition-leave-active
.height-transition-enter-active
	transition opacity .5s
	overflow hidden

.height-transition-enter-to
.height-transition-leave
	opacity 1
	overflow hidden